<section class="prose">
  <%= raw(@highlight.text) %>
  <hr>
  <p>
    <%= @highlight.book_ref.author %> –
    <%= if @highlight.book_ref.url do %>
      <a href={@highlight.book_ref.url}><%= @highlight.book_ref.title %></a>
    <% else %>
      <%= @highlight.book_ref.title %>
    <% end %>
  </p>
</section>
