<section class="prose">
  <h1><%= @article.title %></h1>

  <p><%= if @article.author, do: "by #{@article.author}" %></p>

  <%= if @article.url do %>
    <p><a href={@article.url} class="underline" target="_blank">Original article</a></p>
  <% end %>

  <h2>Highlights</h2>

  <%= for highlight <- @article.highlights do %>
    <div class="text-lg leading-relaxed text-gray-800 my-6">
      <%= raw(highlight.text) %>
    </div>
    <hr />
  <% end %>
</section>
